<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context" xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--
  Contains beans and configuration those are required to for this servlet.
  This Servlet handles all request and should contains beans which should reside inside that lifecycle context.
  Any request specific bean should have been initilized in this context.
  -->

    <mvc:annotation-driven/>

    <context:component-scan base-package="com.e9pay.e9pay.web"/>

    <mvc:annotation-driven conversion-service="conversionService">
        <mvc:message-converters>
            <ref bean="messageConverter"/>

        </mvc:message-converters>
    </mvc:annotation-driven>

    <bean id="messageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
        <property name="objectMapper" ref="objectMapper"/>
    </bean>

</beans>